.about {
  padding: 5px 20px 5px 20px;
  background-color: #ffffff;
  overflow: scroll;
}

.picture {
  width: 100%;
}

.picture-container {
  overflow: hidden;
  max-height: 400px;
  object-fit: cover;
}
.button {
  width: 100%;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
}
.about-container {
  /* margin 15% left and right*/
  margin: 10% 15% 0 15%;
  vertical-align: bottom;
}

.section-header {
  color: whitesmoke;
  text-align: left;
  margin-bottom: 2px;
}

.button:hover {
  background-color: black;
}

.intro {
}
