.decrease-top {
  margin: 10px 15% 0 15%;
}

.info {
  display: flex;
}

.info img {
  object-fit: contain;
  max-width: 40%;
}

.info p {
  padding-left: 4%;
}

.about h1,
.heading {
  width: 100%;
  background-color: #555;
  color: whitesmoke;
}

@media only screen and (max-width: 650px) {
  .info {
    display: inline-block;
    text-align: center;
  }

  .info img {
    max-width: 80%;
  }

  .about {
    display: inline-block;
  }

  .about h1,
  .heading {
    font-size: 20px;
  }
}
