.team {
  display: flex;
  text-align: center;
  width: 50%;
}

.result-container {
  display: flex;
  align-items: center;
}

.result {
  width: 50%;
}

.nba-logo {
  display: inline-block;
  width: 50%;
  height: 80%;
}

@media only screen and (max-width: 900px) {
  .result-container {
    display: block;
  }
  .team {
    display: block;
    text-align: center;
    width: 100%;
  }
  .result {
    width: 100%;
  }

  .nba-logo {
    width: 80%;
  }
}
