.date-input {
  margin: 15px 0px;
  width: 60%;
  font-size: 15px;
  text-align: center;
  background-color: whitesmoke;
  color: #555;
}

#date-simulation {
  text-align: center;
}

.submit {
  margin: 10px 0px;
}

.img-in-box {
  object-fit: contain;
  max-width: 40%;
}
.date-panel {
  display: flex;
  text-align: center;
}

.input-field {
  /* display: flex; */
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 100%;
}
.input-field-child {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -80px;
}
#date {
  width: 80%;
}

@media only screen and (max-width: 900px) {
  .date-panel {
    display: inline-block;
  }

  .img-in-box {
    max-width: 80%;
  }

  .input-field {
    padding-left: 0px;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 95%;
  }
  .input-field-child {
    position: relative;
    top: 0%;
    left: 0%;
    margin-left: 0px;
    margin-top: 0px;
  }

  #date {
    width: 100%;
  }

  .date-info {
    font-size: 1.2em;
  }
}
