.selection {
  display: inline-flex;
  text-align: center;
  vertical-align: center;
  margin: 0 20px;
  border-bottom: 1px solid #555;
}

.team-panel h2,
h3 {
  display: block;
}

.team-panel {
  display: inline-block;
  width: 80%;
}

hr {
  width: 40%;
}

.center {
  text-align: center;
}

.in-selection {
  width: 100px;
}

.simulate {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  background-color: rgb(235, 77, 77);
  color: whitesmoke;
}

.simulate:hover {
  background-color: salmon;
  color: whitesmoke;
}

.border {
  border-left: 1px solid #555;
}

.dropdown {
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
  width: 30%;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
}

.button.dropdown:hover {
  background-color: snow;
}

@media only screen and (max-width: 900px) {
  .team-logo {
    width: 60%;
  }

  .selection {
    display: inline-flex;
    text-align: center;
    vertical-align: center;
    margin: 0 0;
    border-bottom: 1px solid #555;
  }

  .button.in-selection {
    width: 20%;
    object-fit: contain;
  }

  .button.in-selection span {
    font-size: 12px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: inline-block;
    vertical-align: center;
    display: none;
    /* content: "<"; */
  }

  .button.in-selection.next::after {
    content: ">";
  }
  .button.in-selection.prev::after {
    content: "<";
  }

  .dropdown {
    width: 90%;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
  }

  .button.dropdown:hover {
    background-color: snow;
    color: black;
  }

  .border {
    border-bottom: 1px solid #555;
  }
}
