.date-input {
  margin: 15px 0px;
  width: 60%;
  font-size: 15px;
  text-align: center;
  background-color: whitesmoke;
  color: #555;
}

#date-simulation {
  text-align: center;
}

.submit {
  margin: 10px 0px;
}

.img-in-box {
  object-fit: contain;
  max-width: 40%;
}
.date-panel {
  display: flex;
  text-align: center;
}

.input-field {
  /* display: flex; */
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 100%;
}
.input-field-child {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -80px;
}
